<h1 style="color: #E36D2D; font-size: 60px"><%= @article.location %></h1>



<!-- Location Info -->
<h2><%= @article.title %></h2>
<%= image_tag @article.image.url(:medium) %>
<br/><br/>
<!-- Article -->
<div class="article">
	<p style="width: 450px;"><%= @article.body %></p>
</div>

<div class="edit-article">
	<p>
	<% if policy(@article).edit? %>
		<%= link_to "Edit", edit_article_path(@article), class: "btn btn-info" %>
	<% end %>
	
	<% if policy(@article).destroy? %>
		<%= link_to "Delete", @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	<% end %>

	
<%= link_to "All Entries", articles_path, class: "btn btn-default" %>

	</p>
</div>

<!-- Comments table -->
<div class="comments col-sm-12">
<table class="table">
	<tr>
		<caption>
			<% flash.each do |key, value| %>
    		<div class="alert alert-<%= key %> margin animated fadeOut"><%= value %></div>
 			<% end %>
		</caption>
		<hr/>
		<h1>Comments</h1>
	</tr>
	<%= render @article.comments %>	
</table>
</div>
<div class="col-sm-6">
	<p>
		<%= render 'comment_form' %>
	</p>	
</div>
