<div class="jumbotron">
  
<br/><br/>
<!-- TITLE: Image in custom.css -->
  <h1 style="letter-spacing:4px; color: white; font-size: 100px;  ">TRAVELOGUE</h1>
  <p style="font-size: 30px">Your trip heard around the world</p>

<button type="button" class="btn btn-outline" data-toggle="modal" data-target="#myModal">
  How it works
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How it Works</h4>
      </div>
      <!-- Add padding to this text -->
      <p id="howitworks">Travelogue is a shared diary where people can talk about their travel experiences, advice, and photos. Search by destination and dive into dialogue of where you and other wanderlusts plan to take a trip or have already traveled!</p>  
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- SEARCH BOX -->
<%= form_tag home_index_path, :method => 'get', class: 'form-group' do %>
<br/>
  <div class="search">
    <p class='col-sm-9'>
      <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => "e.g. Tokyo museums, Seattle cafes, etc." %>
    </p>

    <div class="searchbutton">
     <p class='col-sm-1'> 
      <%= submit_tag "Search", class: "btn btn-warning btn-primary" %>
    </p>
    </div>
    <br/><br/>
  
  </div>

<% end %>
<br/><br/><br/>
</div>




<!-- LEFT SIDE -->
<div class="col-sm-9">
  <div class="list-group results">
  	<% if @results %>
    <h3><a class="list-group-item active">Search Results</a></h3>
    <!-- LIST ALL SEARCH RESULTS -->
      <% @results['results'].each do |r| %>
        <div class="list-group-item">
          <h4 class="list-group-item-heading" id="result-list"><%= link_to r['name'], r['place_id'].to_s %></h4>
          <p class="list-group-item-text">
            <%= r['formatted_address'] %>
            
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- RIGHT SIDEBAR -->
<div class="right-sidebar">

<div class="col-sm-3">
  <!-- LIST OF CURRENT LOCATIONS WITH ARTICLES -->
  <div class="list-group">
    <a href="" class="list-group-item list-group-item-info">RECENT SEARCHES</a>
      <% @locations.each do |location| %>
      <%= link_to location, articles_path(location: location), class: "list-group-item" %>
      <% end %>
  </div>
</div>
</div>
